<nav class="topbar navbar navbar-expand-md navbar-dark bg-dark">
        <div class = "navbar-header">
	<a name="logo" class="navbar-brand top-logo" href="/">FairCoop</a>

   	</div>


	<div class="topbar_meta">
	<div class="dropdown languages">

  	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{% include 'partials/language-selector.html.twig' %}  	</button>
  		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		{% include 'partials/language-selector.html.twig' %}

  		</div>
	</div>
	<div class="meta_social">
		<i class="social">
		<a href="https://twitter.com/Fair_Coop" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" color="white" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg></a></i><i class="social"><a href="https://git.fairkom.net/faircoop/Tech/FairCoopSites/FairCoopWebsite" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" color="white" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
		</a>
		</i>
	</div>
 </div>

</nav>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
   <div class = "container">
      <div class = "navbar-header">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


         <a name="logo" class="navbar-brand header-logo" href="/"></a>
      </div>
      <div class = "navbar-collapse collapse" id="navbarCollapse">
         <ul class = "nav navbar-nav navbar-right">
            {% for page in pages.children %}
            {% if page.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class = "{{ current_page }}"><a href = "{{ page.url }}">{{ page.menu }}</a></li>
            {% endif %}
            {% endfor %}
         </ul>
      </div>
   </div>
</nav>
