<section class="section-goals">
<div class="container">
        {% if header.title  %}
	<h2><strong>{{ header.title }}</strong></h2>
        {% endif %}
    
	<div class="col-md-12">
        {{ page.content }}
	</div>

	</div>
    </div>
</section>
